{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img
          src="static/signup_login.jpg"
          alt=""
          class="img-fluid w-75"
          style="margin-top: 80px;"
        />
      </div>
      <div class="col-md-5 mt-3">
        <h1 class="mt-5">About</h1>
        <p class="mt-4">
          Kwara State College of Education (KWCOE) is a tertiary institution located in the ancient city of Ilorin, Kwara State, Nigeria.
          It was established in September 1974 by the Kwara State Government with the aim of training and producing highly skilled and
          qualified teachers who would be able to meet the educational needs of the state and the nation at large.
        </p>
        <p>
          The college offers various degree and diploma programmes in Education, Science, Arts, Social Sciences, and Vocational Education.
          These programmes are designed to equip students with the necessary knowledge, skills,
          and attitudes required to be successful teachers and professionals in their chosen fields.
        </p>
        <P>
          Some of the programmes offered at KWCOE include the Nigeria Certificate in Education (NCE), Degree in Education,
          and Postgraduate Diploma in Education. The college also offers various vocational courses such as Computer Science,
          Fine and Applied Arts, Home Economics, and Technical Education.
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light py-3">
    <div class="container-md">
      <div class="row">
        <h1 class="text-center">Frequently Asked Questions</h1>

        <h3>What is HelpDesk?</h3>
        <p>Campus Helpdesk is an online support system designed to provide assistance to students, faculty, and staff on a college or university campus. It allows users to submit requests for technical support, report issues or problems, and receive help with a range of issues such as computer problems, network connectivity issues, and other IT-related queries.</p>
        <p>Campus Helpdesk typically utilizes a ticketing system that assigns a unique identification number to each issue and tracks its progress until it is resolved. This system helps ensure that issues are addressed in a timely and organized manner and that users receive the assistance they need efficiently.</p>
        <p>If you are a student, faculty, or staff member on a college or university campus, and you have an issue that requires technical support or assistance, consider utilizing the Campus Helpdesk system to get the help you need.</p>

        <h3>What is the function of HelpDesk?</h3>
        <p>Information and guidance: The help desk can also serve as a source of information and guidance for students, faculty, and staff who have questions about campus policies, procedures, or services.
          They can help users navigate various resources and provide guidance on how to access different systems or tools</p>
          <p>Problem escalation and resolution: Finally, the help desk is responsible for escalating and resolving issues that they are not able to handle themselves.</p>

      </div>
    </div>
  </div>
{% endblock %}